'************* TASK 1 *****************'

In [ ]:
#1. Print a simple message
print('God bless you')

God bless you

In [ ]:
#2. Print multiple lines
print('''hi,
my name is
devamonish''')

hi,
my name is
devamonish

In [ ]:
#3. Print variables in a sentence
a = 'hi'
b = 'devamonish'
c = 29
print(a,b,'your age is',c)

hi devamonish your age is 29

'************* TASK 2 *****************'

In [ ]:
#1. Check Data Types
a = 7.98
b = [ 'fine', 'God', 1, True]
c = True
d = {1:'deva', 2:'unseen'}
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'float'>
<class 'list'>
<class 'bool'>
<class 'dict'>

In [ ]:
#2. Convert Data Types
a = 7.98
b = [ 'like', 'god', 1, True]
c = True
d = (4, 4, 5, 9, 8, 'hii')
print(int(a))
print(tuple(b))
print(float(c))
print(set(d))

7
('like', 'god', 1, True)
1.0
{'hii', 4, 5, 8, 9}

In [ ]:
#3. Concatenating Different Data types
a = (4,5,'durga', True, 55)
b = [1,2,'hii', 69]
print(a+tuple(b))

(4, 5, 'durga', True, 55, 1, 2, 'hii', 69)

'************* TASK 3 *****************'

In [ ]:
#1. Basic Arithmetic Operations
a = 5
b = 4
print(a+b)
print(a-b)
print(a*b)
print(a/b)

9
1
20
1.25

In [ ]:
#2. Modulus and Exponentiation
a = 10
b = 5
print(a%b)
print(a**b)

0
100000

In [ ]:
#3. Floor Division
print(10//3)

3

'************* TASK 4 *****************'

In [ ]:
#1. Check if a number is Even or Odd
def evenodd(a):
    if a == 0 or a%2 == 0:
        print(' The number is Even')
    else:
        print('The number is Odd')

evenodd(3)
evenodd(70)
evenodd(1)
evenodd(0)

The number is Odd
 The number is Even
The number is Odd
 The number is Even

In [ ]:
#2. Find the Largest number
def large(a,b,c):
    if a>b and a>c:
        print('A is larger')
    elif b>c:
        print('B is larger')
    else:
        print('c is larger')

large(10,3443,-9999)
large(0,0,-9999)
large(0,1,-1)
large(102,200,201)

B is larger
B is larger
B is larger
c is larger

In [ ]:
#3. Grading System
def grade(marks):
    if marks >= 91:
        print('O grade')
    elif marks >=81 and marks <= 90:
        print('A grade')
    elif marks >=71 and marks <= 80:
        print('B grade')
    elif marks >=61 and marks <= 70:
        print('C grade')
    elif marks >=51 and marks <= 60:
        print('D grade')
    elif marks >=40 and marks <= 50:
        print('E grade')
    else:
        print('U grade')

grade(10)
grade(89)
grade(45)
grade(98)

U grade
A grade
E grade
O grade

'************* TASK 5 *****************'

In [ ]:
#1. Check if a number is postive, Negative, Zero
def sign(num):
    if num == 0:
        print('Zero')
    elif num >=1 :
        print('Positive')
    else:
        print('Negative')

sign(-10)
sign(0)
sign(45)
sign(-98)

Negative
Zero
Positive
Negative

In [ ]:
#2. Find the Largest number
def large(a,b,c):
    if a>b and a>c:
        print('A is larger')
    elif b>c:
        print('B is larger')
    else:
        print('c is larger')

large(10,3443,-9999)
large(0,0,-9999)
large(0,1,-1)
large(102,200,201)

In [ ]:
#3. Leap year
year = int(input('Enter a year: '))
if year % 4 == 0:
    print("Leap Year")
else:
    print("Not leap Year")

Enter a year: 100
Leap Year

In [ ]:
#4. Check if a character is a vowel or consonant
def isvc(a):
    l = ['a','e','i','o','u']
    if a in l:
        print('Vowel')
    else:
        print('Consonant')

isvc('a')
isvc('v')
isvc('o')

Vowel
Consonant
Vowel

In [ ]:
#5. Simple calculator
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
sign = input("Enter sign")
if sign == '+':
    print(a + b)
elif sign == '-':
    print(a - b)
elif sign == '*':
    print(a * b)
elif sign == '/':
    print(a / b)
else:
    print("Invalid operator!")

Enter first number: 5
Enter second number: 4
Enter sign-
1

'************* TASK 6 *****************'

In [ ]:
#1. Print numbers from 1 to 5 (for loop)
for i in range(1,6):
    print(i)

1
2
3
4
5

In [ ]:
#2. Print Even numbers upto 10 (while loop)
a = 2
while a <= 10:
    print(a)
    a = a+2

2
4
6
8
10

In [ ]:
l = [1 , 'hi', 'erik', True, 98]
for i in l:
    print(i)

1
hi
erik
True
98

In [ ]:
#For Loop - intermediate
#1. prime number(upto 100)
for i in range(2, 101):
    for j in range(2, i):
        if i % j == 0:
            break
    else:
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
#tables
num = int(input("Enter a number: "))

for i in range(1, 11):
    print(num, "×", i, "=", num * i)

Enter a number: 5
5 × 1 = 5
5 × 2 = 10
5 × 3 = 15
5 × 4 = 20
5 × 5 = 25
5 × 6 = 30
5 × 7 = 35
5 × 8 = 40
5 × 9 = 45
5 × 10 = 50

In [ ]:
#factorial
num = int(input("Enter a number: "))
fact = 1
for i in range(1, num + 1):
    fact = fact * i
print(fact)

Enter a number: 5
120

In [ ]:
#even numbers upto 50
for i in range(2, 51, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

'************* TASK 7 *****************'

In [ ]:
#String Basics

In [ ]:
#1. Concatenate 2 strings:
a = 'deva'
b = 'monish'
print(a+b)

devamonish

In [ ]:
#2. Convert string to Uppercase
a = 'durga'.upper()
print(a)

DURGA

In [ ]:
#3.Find length of a string
a = 'dinosaur'
print(len(a))

8

'************* TASK 8 *****************'

In [ ]:
a = 'dinosaur'
print(a[0:5])
print(a[-4:])
print(a[::-1])

dinos
saur
ruasonid

********Data Structures**********`

In [ ]:
#Lists
#1. Create and acess a list
l = ['moni', ' raizel', 1, 6.5]
print(l[0])
print(l[-1])
#2. Append an item to a list
l.append('deva')
print(l)
#3. Remove an item from a list
l.remove(1)
l

moni
6.5
['moni', ' raizel', 1, 6.5, 'deva']

['moni', ' raizel', 6.5, 'deva']

In [ ]:
#Tuples
#1. create and access tuple elements
t = (1, 'like', 98.8, 'True', 1, 98.8)
print(t[1])
print(t[3])
#2. Count occurrences of an element in a tuple
print(t.count(98.8))
#3. Find index of an element
print(t.index('like'))

like
True
2
1

In [ ]:
#Dictionary
#1. Create and access a dictionary
d = {1:'moni', 2:'deva', 3:200}
print(d[1])
#2. Add a new key value pair
d[4] = 'rai'
print(d)
#3. remove a key value pair
d.pop(1)
print(d)

moni
{1: 'moni', 2: 'deva', 3: 200, 4: 'rai'}
{2: 'deva', 3: 200, 4: 'rai'}

In [ ]:
#Sets
#1. Create a set and print its ellements
s = {2, 4, 98, 9, 12, 23, 2.3}
print(s)
for i in s:
    print(i)

{2, 2.3, 4, 98, 23, 9, 12}
2
2.3
4
98
23
9
12

In [ ]:
#2,3 union and intersection:
s1 = {1, 3, 4, 7, 9, 10}
s2 = {7, 44, 77, 99, 9, 76}
print(s1.union(s2))
print(s1.intersection(s2))

{1, 3, 4, 99, 7, 9, 10, 44, 77, 76}
{9, 7}

#Functions:

In [ ]:
#1. Craete a function that adds two numbers:
def add(a,b):
    print('sum is', a+b)

add(9,10)

sum is 19

In [ ]:
#2. Function that checks if a number is even or odd
def evenodd(a):
    if a%2 == 0:
        print('Even')
    else:
        print('Odd')

evenodd(2)
evenodd(9)
evenodd(0)

Even
Odd
Even

In [ ]:
#3. Function with default parameter
def msg(a = 'moni'):
    print('hi',a)
msg()
msg('deva')

hi moni
hi deva

'exception handling'

In [ ]:
#1. Handlle division by zero
try:
    div = 10 / 0
    print(div)
except ZeroDivisionError:
    print(' cannot be divided')

 cannot be divided

In [ ]:
#2. Hndle invalid input
try:
    age = int(input('Enter age: '))
    print('age is:', age)
except ValueError:
    print("enter valid number")

Enter your age: okoji
enter valid number

In [ ]:
#3. Handle keyerror in a dict
d = {1: 'rai', 2: 'moni'}
try:
    print(d[3])
except KeyError:
    print('error')

error